body {
    font-family: 'Arial', sans-serif;
    background-color: #235B4E;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 24px;
    margin-top: 0;
    color: #9F2241;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px 0;
}

#backButton, #btnNacionalidad {
    background-color: #235B4E;
}

#backButton:hover, #btnNacionalidad:hover {
    background-color: #10312B;
}

#saveButton {
    background-color: #9F2241;
}

#saveButton:hover {
    background-color: #691C32;
}

.icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
