body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #235B4E 0%, #DDC9A3 50%, #235B4E 100%);
}

header {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    flex: 1;
}

.capture-panel {
    position: relative;
    flex: 0.7;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.panel-label {
    position: absolute;
    top: 20px;
    left: -40px;
    background: #DDC9A3;
    color: #000000;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform-origin: top left;
    cursor: pointer;
    transition: left 0.3s;
}

.panel-label:hover {
    left: -30px;
}

.summary-panel {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: #235B4E;
}

button {
    background-color: #235B4E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1d4a42;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.content-input input,
.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select {
    max-width: 300px;
    position: relative;
    margin: 10% 20% 10%;
}

.content-select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 2px;
    height: 42px;
    outline: 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background: #f0f0f0;
    font-size: 1em;
    color: black;
    transition: all 0.25s ease;
}

.content-select select:hover {
    background: #DDC9A3;
}

.content-select i {
    position: absolute;
    right: 20px;
    top: calc(50% - 2px);
    width: 10px;
    height: 10px;
    display: block;
    border-left: 4px solid #DDC9A3;
    border-bottom: 4px solid #DDC9A3;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.content-select:hover i {
    margin-top: 3px;
}

.button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.user-data {
    margin: 20px 0;
}
.user-data div {
    margin-bottom: 10px;
}

/* Style for rescue menu */
.rescue-menu {
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.rescue-menu label {
    margin-right: 10px;
    font-weight: bold;
    color: #235B4E;
}

.rescue-menu select {
    padding: 5px;
    border: 1px solid #235B4E;
    border-radius: 5px;
}

/* Style for search bar */
.search-bar {
    margin: 20px 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.search-bar label {
    margin-right: 10px;
    font-weight: bold;
    color: #235B4E;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #235B4E;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

/* Style for suggestions */
.suggestions {
    position: absolute;
    /* border: 1px solid #235B4E; */
    border-radius: 5px;
    background-color: #DDC9A3;
    width: 100%;
    max-width: 400px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0;
    padding: 0;
}

.suggestions div {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
}

.suggestions div:hover {
    background-color: #235B4E;
    color: #FFFFFF;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.custom-select select {
    display: none; /* Ocultar el select original */
}

.select-selected {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.select-selected img {
    margin-right: 10px;
}

.select-selected:after {
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 10px;
}

.select-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.select-items div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.select-items div img {
    margin-right: 10px;
}


.select-items div:hover {
    background-color: #f1f1f1;
}

.same-as-selected {
    background-color: #d1d1d1;
}


.fillMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 2px solid #9F2241;
    border-radius: 10px;
    color: #691C32;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    display: none; /* Initial state hidden */
}




.error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border: 2px solid #9F2241;
    border-radius: 10px;
    color: #691C32;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    display: none; /* Initial state hidden */
    width: 80%;
    max-width: 400px;
    transition: opacity 0.3s ease-in-out;
}

.error-message.show {
    display: block;
    opacity: 1;
}

.error-message.hide {
    opacity: 0;
}






















select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #235B4E;
    border-radius: 5px;
    background-color: #DDC9A3;
    color: #10312B;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

select:hover {
    background-color: #235B4E;
    color: #FFFFFF;
}

select:focus {
    background-color: #10312B;
    color: #FFFFFF;
}

option {
    background-color: #DDC9A3;
    color: #10312B;
}

option:hover {
    background-color: #235B4E;
    color: #FFFFFF;
}

.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

















input:disabled {
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
}

.hidden {
    display: none;
}
